<html>
<body>
<h3>Dear ${user.username}, </h3>
<div>
    Someone has requested that your password to  ${serverInfo.serverName} be reset. Your new password is:
</div>
<h3>${password}</h3>

Thanks,  <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="http://${serverInfo.serverName}">AggreData</a>

</body>

</html>
