<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2012. The Energy Detective. All Rights Reserved
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->


<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                          http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">


    <!-- Spring includes -->
    <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>
    <bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor"/>


    <!-- Placeholder for Application Properties -->
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="file:aggredata.properties" />
        <property name="ignoreResourceNotFound" value="true" />
        <property name="ignoreUnresolvablePlaceholders" value="true" />
        <property name="valueSeparator" value="?" />

    </bean>

    <bean id="serverInfo" class="com.ted.aggredata.model.ServerInfo">
        <property name="serverName" value="${server.name?aggredata.theenergydetective.com}"/>
        <property name="serverPort" value="${server.port?80}"/>
        <property name="useHttps" value="${server.useHttps?false}"/>
        <property name="postDelay" value="${server.postDelay?1}"/>
        <property name="highPrecision" value="${server.useHighPrecision?true}"/>
        <property name="timezone" value="${server.timezone?US/Eastern}"/>
        <property name="allowRegistration" value="${server.allowRegistration?true}"/>
        <property name="allowPasswordReset" value="${server.allowPasswordReset?true}"/>
        <property name="useCaptcha" value="${server.useCaptcha?true}"/>
        <property name="fromAddress" value="${server.timezone?donotreply@theenergydetective.com}"/>
        <property name="adminEmailAddress" value="${server.timezone?donotreply@theenergydetective.com}"/>

    </bean>


    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="${smtp.host?localhost}"/>
        <property name="port" value="${smtp.port?25}"/>
        <property name="username" value="${smtp.username}"/>
        <property name="password" value="${smtp.username}"/>
    </bean>


    <bean id="usersCustomFields" class="com.ted.aggredata.model.CustomFieldInfo">
        <property name="custom1" value="${users.custom1?Custom 1:}"/>
        <property name="custom2" value="${users.custom2?Custom 2:}"/>
        <property name="custom3" value="${users.custom3?Custom 3:}"/>
        <property name="custom4" value="${users.custom4?Custom 4:}"/>
        <property name="custom5" value="${users.custom5?Custom 5:}"/>
    </bean>

    <bean id="gatewaysCustomFields" class="com.ted.aggredata.model.CustomFieldInfo">
        <property name="custom1" value="${gateways.custom1?Custom 1:}"/>
        <property name="custom2" value="${gateways.custom2?Custom 2:}"/>
        <property name="custom3" value="${gateways.custom3?Custom 3:}"/>
        <property name="custom4" value="${gateways.custom4?Custom 4:}"/>
        <property name="custom5" value="${gateways.custom5?Custom 5:}"/>
    </bean>

    <bean id="groupsCustomFields" class="com.ted.aggredata.model.CustomFieldInfo">
        <property name="custom1" value="${groups.custom1?Custom 1:}"/>
        <property name="custom2" value="${groups.custom2?Custom 2:}"/>
        <property name="custom3" value="${groups.custom3?Custom 3:}"/>
        <property name="custom4" value="${groups.custom4?Custom 4:}"/>
        <property name="custom5" value="${groups.custom5?Custom 5:}"/>
    </bean>




    <!-- BoneCP configuration -->
    <bean id="aggredataDataSource" class="com.jolbox.bonecp.BoneCPDataSource" destroy-method="close">
        <property name="driverClass" value="${jdbc.driverClass?com.mysql.jdbc.Driver}"/>
        <property name="jdbcUrl" value="${jdbc.jdbcUrl?jdbc:mysql://127.0.0.1/aggredata}"/>
        <property name="username" value="${jdbc.username?aggredata}"/>
        <property name="password" value="${jdbc.password?aggredata}"/>
        <property name="idleConnectionTestPeriod" value="${jdbc.idleConnectionTestPeriod?60}"/>
        <property name="idleMaxAge" value="${jdbc.idleMaxAge?240}"/>
        <property name="maxConnectionsPerPartition" value="${jdbc.maxConnectionsPerPartition?30}"/>
        <property name="minConnectionsPerPartition" value="${jdbc.minConnectionsPerPartition?10}"/>
        <property name="partitionCount" value="${jdbc.partitionCount?3}"/>
        <property name="acquireIncrement" value="${jdbc.acquireIncrement?5}"/>
        <property name="statementsCacheSize" value="${jdbc.statementsCacheSize?100}"/>
        <property name="releaseHelperThreads" value="${jdbc.releaseHelperThreads?3}"/>
    </bean>


    <bean id="velocityEngine" class="org.springframework.ui.velocity.VelocityEngineFactoryBean">
        <property name="velocityProperties">
            <value>
                resource.loader=class
                class.resource.loader.class=org.apache.velocity.runtime.resource.loader.ClasspathResourceLoader
            </value>
        </property>
    </bean>


    <!-- Application Beans -->
    <bean name="userDAO" class=" com.ted.aggredata.server.dao.UserDAO"/>
    <bean name="groupDAO" class=" com.ted.aggredata.server.dao.GroupDAO"/>
    <bean name="mtuDAO" class=" com.ted.aggredata.server.dao.MTUDAO"/>
    <bean name="gatewayDAO" class=" com.ted.aggredata.server.dao.GatewayDAO"/>
    <bean name="energyDataDAO" class=" com.ted.aggredata.server.dao.EnergyDataDAO"/>
    <bean name="costDataDAO" class=" com.ted.aggredata.server.dao.CostDataDAO"/>
    <bean name="demandChargeDAO" class=" com.ted.aggredata.server.dao.DemandChargeDAO"/>
    <bean name="energyDataHistoryDAO" class=" com.ted.aggredata.server.dao.EnergyDataHistoryDAO"/>

    <!-- Spring Services -->
    <bean name="userService" class="com.ted.aggredata.server.services.impl.UserServiceImpl" scope="session"/>
    <bean name="groupService" class="com.ted.aggredata.server.services.impl.GroupServiceImpl" scope="session"/>
    <bean name="gatewayService" class="com.ted.aggredata.server.services.impl.GatewayServiceImpl" scope="session"/>
    <bean name="historyService" class="com.ted.aggredata.server.services.impl.HistoryServiceImpl" scope="session"/>
    <bean name="emailService" class="com.ted.aggredata.server.services.impl.EmailServiceImpl" scope="session"/>
    <bean name="energyPostService" class="com.ted.aggredata.server.services.impl.EnergyPostServiceImpl" scope="session"/>

</beans>