/**
 * Other CSS definitions can be found in the UIBinder css definitions in the application workspace. The definitions in this file are either application global, or accessed by
 code outside of the UIBinder context
 */

body {
    background-color: white;
    color: white;
    font-family: Arial, sans-serif;
    font-size: small;
    margin: 8px;
}



.dashboardTabText {
    font-family: Arial, Verdana, Trebuchet, sans-serif;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    font-size: 10pt;
    vertical-align: middle;
    cursor: pointer;
    cursor: hand;

}


.menuText {
    font-family: Arial, Verdana, Trebuchet, sans-serif;
    color: #7b7a7a;
    text-align: left;
    font-size: 10pt;
    vertical-align: top;
    cursor: pointer;
    cursor: hand;

}

.menuTextSelected {
    font-family: Arial, Verdana, Trebuchet, sans-serif;
    color: #e70035;
    text-align: left;
    font-size: 10pt;
    vertical-align: top;
    cursor: pointer;
    cursor: hand;
}


.largeButtonTextStyle {
    font-family: Arial, Verdana, Trebuchet, sans-serif;
    color: #FFF;
    font-weight: bolder;
    text-align: center;
    font-size: 12pt;
    vertical-align: middle;
    cursor: pointer;
    cursor: hand;

}


.smallButtonTextStyle {
    font-family: Arial, Verdana, Trebuchet, sans-serif;
    color: #FFF;
    font-weight: bolder;
    text-align: center;
    font-size: 8pt;
    vertical-align: middle;
    cursor: pointer;
    cursor: hand;


}


.userSelectionPopup
{
    cursor                       :    pointer;
    cursor                       :    hand;
    color:white;
    font-family : Helvetica, Verdana, Arial,  sans-serif;
    text-align:left;
    font-size:10pt;
    background: #3f3f3f;

}

.userSelectionPopup .item-selected
{
    background: red;
}
