<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2012. The Energy Detective. All Rights Reserved
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <display-name>Aggredata</display-name>

    <!--Spring context listener to load the log4j from an external file source-->
    <context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>file:aggredata.log4j.xml</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
    </listener>


    <!--++ Spring Configuration ++ -->
    <!-- Spring config location -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:applicationContext.xml
                     classpath:security-app-context.xml
        </param-value>
    </context-param>

    <!-- Starts up Spring -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>


    <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>


    <!--Spring Security Authentication Filter -->
    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


    <servlet>
        <servlet-name>UserSessionService</servlet-name>
        <servlet-class>com.ted.aggredata.server.guiServiceImpl.UserSessionServiceImpl</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>GWTUserService</servlet-name>
        <servlet-class>com.ted.aggredata.server.guiServiceImpl.GWTUserServiceImpl</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>GWTGroupService</servlet-name>
        <servlet-class>com.ted.aggredata.server.guiServiceImpl.GWTGroupServiceImpl</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>GWTGatewayService</servlet-name>
        <servlet-class>com.ted.aggredata.server.guiServiceImpl.GWTGatewayServiceImpl</servlet-class>
    </servlet>



    <servlet>
        <servlet-name>EnergyPostServlet</servlet-name>
        <servlet-class>com.ted.aggredata.server.web.servlets.EnergyPostServlet</servlet-class>
    </servlet>


    <servlet>
        <servlet-name>ActivationServlet</servlet-name>
        <servlet-class>com.ted.aggredata.server.web.servlets.ActivationServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>AccountActivationServlet</servlet-name>
        <servlet-class>com.ted.aggredata.server.web.servlets.AccountActivationServlet</servlet-class>
    </servlet>


    <servlet>
        <servlet-name>HistoryExportServlet</servlet-name>
        <servlet-class>com.ted.aggredata.server.web.servlets.HistoryExportServlet</servlet-class>
    </servlet>


    <servlet>
        <servlet-name>CaptchaServlet</servlet-name>
        <servlet-class>com.ted.aggredata.server.web.servlets.CaptchaServlet
        </servlet-class>
        <init-param>
            <param-name>width</param-name>
            <param-value>130</param-value>
        </init-param>
        <init-param>
            <param-name>height</param-name>
            <param-value>50</param-value>
        </init-param>
    </servlet>



    <servlet-mapping>
        <servlet-name>UserSessionService</servlet-name>
        <url-pattern>/Aggredata/UserSessionService</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>GWTUserService</servlet-name>
        <url-pattern>/Aggredata/GWTUserService</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>GWTGroupService</servlet-name>
        <url-pattern>/Aggredata/GWTGroupService</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>GWTGatewayService</servlet-name>
        <url-pattern>/Aggredata/GWTGatewayService</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>ActivationServlet</servlet-name>
        <url-pattern>/activate</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AccountActivationServlet</servlet-name>
        <url-pattern>/accountActivate</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>HistoryExportServlet</servlet-name>
        <url-pattern>/historyexport</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>EnergyPostServlet</servlet-name>
        <url-pattern>/postData</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>CaptchaServlet</servlet-name>
        <url-pattern>/captcha.jpg</url-pattern>
    </servlet-mapping>

</web-app>
